[submodule "digital-prison-reporting-data-product-definitions"]
	path = digital-prison-reporting-data-product-definitions
	url = git@github.com:ministryofjustice/digital-prison-reporting-data-product-definitions.git
